apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: counter-service
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/Ehalabi/counter-service
    targetRevision: main
    path: helm
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: prod
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
  ignoreDifferences:
    - group: apps
      kind: Deployment
      jsonPointers:
        - /spec/replicas

