replicaCount: 2
image:
  repository: e119/counter-service
  tag: 65b73b45ecee6a21183f97b38a8eafa31ae20e3b
  pullPolicy: Always
service:
  type: ClusterIP
  port: 80
  targetPort: 8000
redis:
  host: redis
  port: 6379
resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
livenessProbe:
  path: /healthz
  port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
readinessProbe:
  path: /readyz
  port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
ingress:
  enabled: true
