replicaCount: 3
image:
  repository: e119/counter-service
  tag: 8b1e02acff8afda8d2cbf618edbba5ae9a120262
  pullPolicy: Always
service:
  type: ClusterIP
  port: 80
  targetPort: 8000
redis:
  host: redis-service
  port: 6379
resources:
  limits:
    cpu: 200m
    memory: 128Mi
  requests:
    cpu: 50m
    memory: 64Mi
livenessProbe:
  path: /healthz
  port: 8000
  initialDelaySeconds: 10
  periodSeconds: 10
readinessProbe:
  path: /readyz
  port: 8000
  initialDelaySeconds: 5
  periodSeconds: 5
ingress:
  enabled: true
